@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="top">
        <div class="adrian_navbar_top container">
            <nav class="adrian_navbar_top navbar navbar-default">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="~/Content/images/unity_logo.png" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>

                </div><!-- /.navbar-collapse -->

            </nav>
        </div>
    </div><!-- /.container-fluid -->
    <div class="main_web row">

        <div class="left_side col-md-10">
            <div class="row">

                <div class="events_mainpage col-md-4">
                    <div class="event_item_homepage">
                        <div class="events_homepage_logo">
                            <img src="~/Content/images/events.png" />
                        </div>
                        <div class="event_item_homepage row">
                            <div class="col-md-6">
                                <img class="image_homepage_news" src="~/Content/images/event1.png" />
                            </div>
                            <div class="col-md-6">
                                <p class="title_homepage_event">Peaceful mind, peaceful world</p>
                                <p class="localisation_homepage_event"><span class="glyphicon glyphicon-map-marker"></span>Chenrezlg Buddish Centre, Lancaster</p>
                                <p class="published_date_homepage_event"><span class="glyphicon glyphicon-calendar"></span>31.05.2017</p>
                                <button type="button" class="btn btn-primary">View Event</button><a href="#" class="fa fa-facebook"></a>   <a href="#" class="fa fa-twitter"></a>
                            </div>
                        </div>
                        <div class="event_item_homepage row">
                            <div class="col-md-6">
                                <img class="image_homepage_news" src="~/Content/images/event2.png" />
                            </div>
                            <div class="col-md-6">
                                <p class="title_homepage_event">Peaceful mind, peaceful world</p>
                                <p class="localisation_homepage_event"><span class="glyphicon glyphicon-map-marker"></span>Chenrezlg Buddish Centre, Lancaster</p>
                                <p class="published_date_homepage_event"><span class="glyphicon glyphicon-calendar"></span>31.05.2017</p>
                                <button type="button" class="btn btn-primary">View Event</button><a href="#" class="fa fa-facebook"></a>   <a href="#" class="fa fa-twitter"></a>
                            </div>
                        </div>
                        <div class="event_item_homepage row">
                            <div class="col-md-6">
                                <img class="image_homepage_news" src="~/Content/images/event3.png" />
                            </div>
                            <div class="col-md-6">
                                <p class="title_homepage_event">Peaceful mind, peaceful world</p>
                                <p class="localisation_homepage_event"><span class="glyphicon glyphicon-map-marker"></span>Chenrezlg Buddish Centre, Lancaster</p>
                                <p class="published_date_homepage_event"><span class="glyphicon glyphicon-calendar"></span>31.05.2017</p>
                                <button type="button" class="btn btn-primary">View Event</button><a href="#" class="fa fa-facebook"></a>   <a href="#" class="fa fa-twitter"></a>
                            </div>
                        </div>


             

                    </div>


                </div>

                <div class="news_mainpage col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">NEWS</div>
                        <div class="panel-body">

                            <div class="news_item_homepage">
                                <p class="title_homepage_news">Historic Lancaster building to become student flats despite noise fears.</p>
                                <span>
                                    <p class="published_date_homepage_news">Published: 20.05.2017</p>
                                    <button type="button" class="btn btn-primary">Learn More</button>
                                </span>

                                <img class="image_homepage_news" src="~/Content/images/news1.png" />
                            </div>
                            <div class="news_item_homepage">
                                <p class="title_homepage_news">M6 LATES: Delays ease as motorway reopens following trailer fire</p>
                                <p class="published_date_homepage_news">Published: 20.05.2017</p>
                                <button type="button" class="btn btn-primary">Learn More</button>
                                <img class="image_homepage_news" src="~/Content/images/news2.png" />
                            </div>
                            <div class="news_item_homepage">
                                <p class="title_homepage_news">A campaign to help parents spot signs of sepsis and save lives.</p>
                                <p class="published_date_homepage_news">Published: 20.05.2017</p>
                                <button type="button" class="btn btn-primary">Learn More</button>
                                <img class="image_homepage_news" src="~/Content/images/news3.png" />
                            </div>
                            <div class="news_item_homepage">
                                <p class="title_homepage_news">Lancaster MP visits Lancaster's Royal Mail sorting office.</p>
                                <p class="published_date_homepage_news">Published: 20.05.2017</p>
                                <button type="button" class="btn btn-primary">Learn More</button>
                                <img class="image_homepage_news" src="~/Content/images/news4.png" />
                            </div>




                        </div>
                    </div>



                </div>


            </div>
 



        </div>


        <div class="right_side col-md-2">

            <nav class="adrian_navbar_right navbar navbar-default">
                <div class="adrian">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav">
                            <li><a><span class="glyphicon glyphicon-home unity_side_menu_icons"></span>Home</a></li>
                            <li><a><span class="glyphicon glyphicon-user unity_side_menu_icons"></span>My Profile</a></li>
                            <li><a><span class="glyphicon glyphicon-envelope unity_side_menu_icons"></span>My Messages</a></li>
                            <li><a><span class="glyphicon glyphicon-globe unity_side_menu_icons"></span>Forum</a></li>
                            <li><a><span class="glyphicon glyphicon-calendar unity_side_menu_icons"></span>Events</a></li>
                            <li><a><span class="fa fa-newspaper-o unity_side_menu_icons"></span>News</a></li>
                            <li><a><span class="fa fa-id-card-o unity_side_menu_icons"></span>Contacts</a></li>
                            <li><a><span class="fa fa-line-chart  unity_side_menu_icons"></span>CPSG</a></li>
                            <li><a><span class="fa fa-map-marker  unity_side_menu_icons"></span>Local areas</a></li>
                            <li><a><span class="fa fa-info-circle unity_side_menu_icons"></span>About Unity</a></li>
                            <li><a><img class="h2020_logo" src="./images/flag_2020.jpg"></a></li>
                        </ul>

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>




        </div>
    </div>

    <div class="row">
        <div class="col-md-12">FOOTER</div>
    </div>
</div>